<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>HummingBirdApplication</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">HummingBirdApplication</div>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="navFilter">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">Dashboard</a>
                    <dl class="layui-nav-child">
                        <dd><a class="layui-this" href="/device/type">设备类型</a></dd>
                        <dd><a href="/device/cmd">命令下发</a></dd>
                        <dd><a href="/device/data">设备数据</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div style="padding: 15px;">

            <blockquote class="layui-elem-quote">
                设备类型的及其数据点位的管理
                <button id="btnAddDeviceType" class="layui-btn layui-btn-danger">添加</button>
            </blockquote>

            <table class="layui-table" lay-data="{ url:'/api/device/type', page:true, id:'idTest'}"
                   lay-filter="deviceType">
                <thead>
                <tr>
                    <th lay-data="{field:'id', sort: false, fixed: true}">识别码ID</th>
                    <th lay-data="{field:'name'}">设备类型</th>
                    <th lay-data="{field:'description', sort: false}">描述</th>
                    <th lay-data="{fixed: 'right', width:150, align:'center', toolbar: '#barDemo'}">操作</th>
                </tr>
                </thead>
            </table>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="dataPointBtn">数据点</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deleteBtn">删除</a>
            </script>

        </div>
    </div>

    <div class="layui-footer">
        © HummingBird Tech
    </div>
</div>
<script src="../static/layui/layui.js"></script>
<script>
    var dpTb;

    function submitDeviceType($, params) {
        $.post('/api/device/type', params, function (res) {
            if (res.success === true) {
                location.reload();
            } else {
                alert(res.data)
            }
        }, 'json');
    }

    function submitDataPoint($, params) {
        $.post('/api/data/point', params, function (res) {
            if (res.success === true) {
                dpTb.reload();
            } else {
                alert(res.data)
            }
        }, 'json');
    }

    layui.use(['layer', 'form', 'table'], function () {
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;

        $(document).on('click', '#btnAddDeviceType', function () {
            layer.open({
                type: 1,
                title: "添加设备类型",
                closeBtn: false,
                shift: 2,
                area: ['400px', '300px'],
                shadeClose: true,
                content: $("#addDeviceTypeBody"),
                success: function (layero, index) {
                },
                yes: function () {
                }
            });
        });

        form.on('submit(save)', function (data) {
            params = data.field;
            // alert(JSON.stringify(params));
            submitDeviceType($, params);
            return false;
        });
        var obj = document.getElementById('closeBtn');
        obj.addEventListener('click', function cancel() {
            parent.location.reload();
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });

        var deviceTypeId;

        table.on('tool(deviceType)', function (obj) {
            var data = obj.data;
            deviceTypeId = data.id;
            if (obj.event === 'dataPointBtn') {
                layer.open({
                    type: 1,
                    title: "数据点管理",
                    area: ['900px', '500px'],
                    content: $("#dataPointPop"),
                    success: function (layero) {
                        dpTb = table.render({
                            elem: '#dataPointTb'
                            , url: '/api/data/point?deviceTypeId=' + data.id
                            , title: '数据点管理'
                            , page: true
                            , cols: [
                                [
                                    {field: 'id', title: 'ID', fixed: 'left'}
                                    , {field: 'dataPoint', title: '数据点'}
                                    , {field: 'ability', title: '能力'}
                                    , {field: 'dataType', title: '数据类型'}
                                    , {field: 'name', title: '名称'}
                                    , {field: 'description', title: '描述'}
                                    , {fixed: 'right', title: '操作', width: 100, align: 'center', toolbar: '#dpBar'}
                                ]
                            ]
                        });
                        table.on('tool(dataPointTb)', function (obj) {
                            var data = obj.data;
                            if (obj.event === 'dpDelBtn') {
                                $.ajax({
                                    type: "DELETE",
                                    url: '/api/data/point/' + data.id,
                                    success: function (res) {
                                        if (res.success === true) {
                                            dpTb.reload();
                                        } else {
                                            alert(res.data)
                                        }
                                    },
                                    error: function (e) {
                                        console.log(e);
                                    }
                                });
                            }
                        });
                    }
                });

            } else if (obj.event === 'deleteBtn') {
                layer.confirm('删除此设备类型与数据点？', function (index) {

                    $.ajax({
                        type: "DELETE",
                        url: '/api/device/type/' + data.id,
                        success: function (res) {
                            if (res.success === true) {
                                location.reload();
                            } else {
                                alert(res.data)
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });

                    layer.close(index);
                });
            }
        });


        $(document).on('click', '#dpAddBtn', function () {
            layer.open({
                type: 1,
                title: "添加设数据点",
                shift: 2,
                area: ['500px', '400px'],
                shadeClose: true,
                content: $("#addDataPointBody"),
                success: function (layero) {
                    $.ajax({
                        url: '/api/data/point/ability',
                        type: 'GET',
                        success: function (data) {
                            var eles = eval(data.data);
                            $("#abilitySelect").empty();
                            $(eles).each(
                                function (index) {
                                    var ele = eles[index];
                                    var optionStr = "";
                                    optionStr += "<option value='" + ele.id + "'>"
                                        + ele.name + "</option>";
                                    $("#abilitySelect").append(optionStr);
                                    form.render();
                                });
                        },
                        error: function (data) {
                            console.log(data);
                            alert('查找数据出错');
                        }
                    });
                    $.ajax({
                        url: '/api/data/point/type',
                        type: 'GET',
                        success: function (data) {
                            var eles = eval(data.data);
                            $("#dataTypeSelect").empty();
                            $(eles).each(
                                function (index) {
                                    var ele = eles[index];
                                    var optionStr = "";
                                    optionStr += "<option value='" + ele.id + "'>"
                                        + ele.name + "</option>";
                                    $("#dataTypeSelect").append(optionStr);
                                    form.render();
                                });
                        },
                        error: function (data) {
                            console.log(data);
                            alert('查找数据出错');
                        }
                    });

                    form.on('submit(save)', function (data) {
                        params = data.field;
                        params.deviceTypeId = deviceTypeId;
                        submitDataPoint($, params);
                        return false;
                    });

                }
            });
        });


    });

</script>

<div id="dataPointPop" style="display: none;">
    <button id="dpAddBtn" type="button" class="layui-btn" style="margin-left: 5px;margin-top: 5px;">添加数据点</button>
    <table id="dataPointTb" class="layui-table" lay-filter="dataPointTb"></table>
    <script type="text/html" id="dpBar">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="dpDelBtn">删除</a>
    </script>
</div>

<div id="addDeviceTypeBody" style="display: none;">
    <form class="layui-form" id="add-form" action="">
        <div class="layui-form-item center">
            <label class="layui-form-label" style="width: 100px">识别码</label>
            <div class="layui-input-block">
                <input type="text" name="id" required value="" style="width: 240px" lay-verify="required"
                       placeholder="0～255" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">设备类型</label>
            <div class="layui-input-block">
                <input type="text" name="name" required style="width: 240px" lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">备注 </label>
            <div class="layui-input-block">
                <input type="text" name="description" required style="width: 240px" lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="save">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="closeBtn">关闭</button>
            </div>
        </div>
    </form>
</div>

<div id="addDataPointBody" style="display: none;">
    <form class="layui-form" id="add-dp-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">数据点</label>
            <div class="layui-input-block">
                <input type="text" name="dataPoint" required value="" style="width: 240px" lay-verify="required"
                       placeholder="0～65535" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">数据能力</label>
            <div class="layui-input-inline" style="margin-bottom: 5px">
                <select id="abilitySelect" name="ability" lay-verify="required" lay-search=""
                        lay-filter="abilitySelectFilter">
                    <!--                    <option value="0">-请选择数据能力-</option>-->
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="width: 500px">
            <label class="layui-form-label" style="width: 100px">数据类型</label>
            <div class="layui-input-inline" style="margin-bottom: 5px">
                <select id="dataTypeSelect" name="dataType" lay-verify="required" lay-search=""
                        lay-filter="typeSelectFilter">
                    <!--                    <option value="0">-请选择数据类型-</option>-->
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" required style="width: 240px" lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">描述</label>
            <div class="layui-input-block">
                <input type="text" name="description" required style="width: 240px" lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="save">保存</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>